/* 1. 전체 최외곽 컨테이너 레벨 정의 */
.app-container {
  margin: 40px 10px 40px 10px;
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  color: #2c3e50;
}

/* 공통 제목 스타일 */
h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1a252f;
  /* margin-top: 20px; */
  margin-bottom: 8px;
}

/* 공통 레이아웃 wrapper */
.dashboard-wrapper {
  width: 1000px;
  max-width: 95%;
  margin: 40px auto;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  color: #263238;
}

.panel-box {
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* 모바일 대응 */
@media (max-width: 600px) {
  .dashboard-wrapper {
    width: 100%;
  }
}
